/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html{
  border-left: solid salmon 20px;
  border-right: solid salmon 20px;
  margin: 0;
  height: 100%;
}

.flexgroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.flexgroupAnswerMargin, header{
  margin-top: 50px;
}

.flexItem{
  display: flex;
  justify-content: center;
}


h1 {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

h2{
  font-family: ;
  font-size: 1.3em;
}

main > p {
  text-align: center;
}

img{
  max-width: 100%;
}

figure{
  align-content: center;
}

/* image in view should be hidden until restart is clicked */

.hideImage {
  display: none;
}

form input {
  margin-right: 10px;
}

label {
  color: red;
  display: inline-flex;
}

.centerAnswers {
  text-align: center;
  margin-bottom: 50px;
}

button {
background-color: #d87093;
color: #3c2109;
}

/* I feel rather than reletalive we should align the button to the end
of the form container so it will always be to the left */
.button {
  position: relative;
  left: 200px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: .7em;
}