/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html{
  margin: 0;
  height: 100%;
}

body{
  border-left: solid #F9c535 20px;
  border-right: solid #F9c535 20px;
  height: 100%;
}

.flexgroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.flexgroupAnswerMargin, header{
  margin-top: 50px;
}

.flexItem{
  display: flex;
  justify-content: center;
}


h1 {
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: #e71d36;
  font-family: 'Bungee Shade';
  font-size: 50px;
}

h2{
  letter-spacing: .75px;
  font-size: 30px;
  text-align: center;
  color: #042A2B;
  font-family: 'Just Another Hand'
}

main > p {
  text-align: center;
  color: #333;
}


.fontHandlee{
  font-family: 'Handlee';
}

#fontFirstPage{
  font-family: 'Handlee';
  font-size: 25px;
  font-weight: bolder;
}

.correctAnswer{
  font-family: handlee;
  color: #e71d36;
  font-weight: bold;
}
#finalResults{
  text-align: center;
}
img{
  max-height: 200px;
  max-width: 100%;
  margin-top: 20px;
}


figure{
  align-content: center;
}

/* image in view should be hidden until restart is clicked */

.hideImage {
  display: none;
}

#bulletedAnswersCSS{
  font-family: handlee;
  font-weight: 300;
}

form input {
  margin-right: 10px;
}

label {
  color: #333;
  display: inline-flex;
}

.centerAnswers {
  text-align: center;
  margin-bottom: 50px;
}

.wrongAnswerPicked {
  color: #218380;
  font-family: handlee;
}

button{
  font-family: handlee;
  background-color: #EF9339;
  color: #FFF;
  left: 25%;
  bottom: 65px;
}


/* I feel rather than reletalive we should align the button to the end
of the form container so it will always be to the left */
form div, .centerButton {
  /* position: relative;
  left: 200px; */
  text-align: center;
}

footer {
  width: auto;
  display: flex;
  justify-content: space-between;
  font-size: .7em;
  bottom: 0;
}

@media all and (min-width: 600px) {

  h1{
    font-size: 100px;
  }
  h2{
    font-size: 50px;
    max-width: 600px;
  }

  #fontFirstPage{
    font-size: 45px;
  }
 
  button {
    padding: 15px 32px;
  }

  footer{
    font-size: 15px;
    justify-content: space-between;
  }
}